[Desktop Entry]
Version=1.0
Type=Application
Name=Balanced
Comment=Set Power Profile to Balanced Mode
Icon=power-profile-balanced-symbolic
OnlyShowIn=XFCE;
Exec=sh -c "$HOME/.local/share/powerprofileswitcher/scripts/setbalanced.sh"
Categories=powerprofile;
