[Desktop Entry]
Version=1.0
Type=Application
Name=Balanced
Comment=Set Power Profile to Balanced Mode
Icon=draw-circle
OnlyShowIn=XFCE;
Exec=sh /home/username/.local/share/powerprofileswitcher/scripts/setbalanced.sh
Categories=powerprofile;
