[Desktop Entry]
Version=1.0
Type=Application
Name=Current Mode: Balanced
Icon=power-profile-balanced-symbolic
OnlyShowIn=XFCE;
Exec=
Categories=powerprofile;
