[Desktop Entry]
Type=Application
Name=Current Mode: Balanced
Icon=power-profile-balanced-symbolic
OnlyShowIn=XFCE;
Exec=sh -c "$HOME/.local/share/powerprofileswitcher/scripts/getpwrprofile.sh"
Categories=powerprofile;
Comment=
Path=
Terminal=false
StartupNotify=false