[Desktop Entry]
Type=Application
Name=Performance
Comment=Set Power Profile to Performance Mode
Icon=power-profile-performance-symbolic
OnlyShowIn=XFCE;
Exec=sh -c "$HOME/.local/share/powerprofileswitcher/scripts/setperformance.sh"
Categories=powerprofile;
