[Desktop Entry]
Version=1.0
Type=Application
Name=Performance
Comment=Set Power Profile to Performance Mode
Icon=battery-profile-performance
OnlyShowIn=XFCE;
Exec=sh /home/bryce/.local/share/powerprofileswitcher/scripts/setperformance.sh
Categories=powerprofile;
