[Desktop Entry]
Type=Application
Name=Power Saver
Comment=Set Power Profile to Power Saver Mode
Icon=power-profile-power-saver-symbolic
OnlyShowIn=XFCE;
Exec=sh -c "$HOME/.local/share/powerprofileswitcher/scripts/setpowersaver.sh"
Categories=powerprofile;
