[Desktop Entry]
Version=1.0
Type=Application
Name=Power Saver
Comment=Set Power Profile to Power Saver Mode
Icon=battery-profile-powersave
OnlyShowIn=XFCE;
Exec=sh /home/bryce/.local/share/powerprofileswitcher/scripts/setpowersaver.sh
Categories=powerprofile;
